body{
  margin:0px;
  padding:0px;
}

div.header{
  border: solid 0px;
  overflow: auto;
  min-width: 200px;
}

.header img {
  float: left;
  width: 100px;
  height: 100px;
  margin: 5px;
}

.header h1 {
  position: relative;
  max-width:400px;
  border: solid 0px;
  margin: 15px 0px;
}

div.content{
    padding:0px 10px;
}

div.banner {
  padding:0px;
  margin:0px;
  border: solid 0px;
}

div {
  border: solid 0px;
}

ul.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  min-width: 200px;
}

ul.menu li {
  float: left;
}

ul.menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
ul.menu li a:hover {
  background-color: #111;
}

